.inputlabel{
    font-weight: 560;
    display: block;
}

.input-text{
    width: 70%;
    height: 20%;
    padding: 2%;
    padding-left: 5%;
    margin-top: 3%;
    border-radius: 10px;
    display: block;
    font-size: large;
}

.input-container{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.item-container{
    margin: 1%;
    padding: 1%;
}

.error-occur-true{
    color: red;
    font-size: small;
    font-weight: bold;
    display: block;
}

.error-occur-false{
    display: none;
}